/* variable for colors: primary, secondary, background*/
:root {
    --primary: #F5CDA7;
    --secondary: #97604a;
    --background: #F5CDA7;

    --font-normal: #342A21;
    --font-panel: #FFFFFF;
    --font-messagedAt: #bfbfbf;

    --success: #4CAF50;
    --error: #CD533B;
    --warning: #FFC107;
    --info: #62d366;

    --select-border: #393939;
    --select-focus: var(--info);
    --select-arrow: var(--select-border);
}


body {
    height: 100vh;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: var(--background);
    font-family: "Inter", sans-serif;
}

#container {
    display: flex;
    height: 100%;
}

#content {
    background-color: #f9f1f1 ;
    color: var(--font-normal);
    padding: 0 20px 20px;
    flex: 1;
    box-sizing: border-box;
    overflow-y: auto;
}

#content h2 {
    position: sticky;
    top: 0;
    border-radius: 20px;
    color:rgb(250, 238, 238);
    background-color: #af725a; 
    z-index: 1;
    padding: 20px;
}

#navigation {
    position: relative;
    z-index: 10;
    box-shadow: 3px 5px 2px 1px rgba(0, 0, 0, 0.129);

    display:flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background: #342A21;
    min-width: 150px;
    max-width: 150px;
    height: 100%;
    width: 150px;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

#navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 110px;
    max-width: 110px;
    background-color: var(--primary);
    border-radius: 15px;
    padding: 0.5rem;
    margin-top: 0.5rem;
    transition: all 0.3s;

}

.nav-item.inactive:hover {
    background-color: var(--secondary);
    transform: translateX(5px);
    transition: all 0.3s;
}

.nav-item.inactive:hover a {
    color: var(--primary);
}

.nav-item a {
    color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-decoration: none;
    font-size: 15px;
}


.nav-item.active {
    background-color: var(--secondary);
    color: var(--primary);
    border-radius: 10px;
    padding: 0.5rem;
}

.nav-item.active a {
    pointer-events: none;
    color: var(--primary);
}

/* toastr style */

#toastr-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
}

.toastr {
    background-color: var(--primary);
    color: #FFFFFF;
    padding: 12px 20px;
    border-radius: 4px;
    margin-bottom: 10px;
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.toastr.show {
    opacity: 1;
    transform: translateX(0);
}

.toastr-success { background-color: var(--success); }

.toastr-error { background-color: var(--error); }

.toastr-warning { background-color:  var(--warning); }

.toastr-info { background-color: var(--info); }

.toastr-close {
    background: none;
    border: none;
    color: inherit;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    opacity: 0.7;
}

.toastr-close:hover {
    opacity: 1;
}

/* end toastr style */

/* modal style */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}
.modal {
    position: fixed;
    background: var(--secondary);
    color: var(--primary);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    z-index: 1001;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.modal.active {
    opacity: 1;
    transform: translateY(0);
}
.modal-content {
    margin-bottom: 20px;
}
.modal-buttons {
    display: flex;
    justify-content: flex-end;
}
.modal-button {
    margin-left: 10px;
    padding: 5px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.modal-button-yes {
    background-color: var(--success);
    color: white;
}
.modal-button-no {
    background-color: var(--error);
    color: white;
}
/* end modal style */

/* Category Buttons */
#category-buttons {
    margin-bottom: 20px;
}

.category-button {
    margin: 0 5px;
    padding: 10px 20px;
    background-color: #424242;
    border: none;
    border-radius: 5px;
    color: #e0e0e0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.category-button:hover {
    background-color: #616161;
}

.category-button.selected {
    background-color: #616161;
    color: #f0f0f0;
}

/* Post Cards */
.card-container {
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-width:100%;
    gap: 20px;
}

.card {
    max-width: 95%;
    min-width: 95%;
    padding: 15px;
    background-color: var(--primary);
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s;
    display: flex;
}

.card:hover {
    transform: translateY(-5px);
}

.card-content {
    display: flex;
    max-width: 100%;
    min-width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.card-content h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: var(--secondary);
}

.card-content p {
    font-size: 1em;
    color: #97604a;
}

.card-content button {
    display: block;
    margin-top: auto;
    padding: 8px 15px;
    background-color: var(--secondary);
    border: none;
    border-radius: 5px;
    color: var(--primary);
    width: 172px;
    max-width: 172px;
    margin-left: auto;
    cursor: pointer;
    transition: background-color 0.3s
}

.card-content button:hover {
    background-color: #333;
}

/* Post Details */
.post-container {
    margin-top: 20px;
    padding: 20px;
    background-color: var(--background);
    border-radius: 10px;
}

.post-container h3 {
    color: var(--secondary);
    font-size: 2em;
}

.post-container img {
    max-width: 100%;
    margin-top: 10px;
    border-radius: 5px;
}

.post-container p {
    margin-top: 15px;
    font-size: 1.1em;
    line-height: 1.6;
}

/* Ratings and Interactions */
.post-ratings-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.post-rating {
    display: flex;
    align-items: center;
    margin: 20px;
    cursor: pointer;
}

.post-rating-button {
    font-size: 24px;
    color: #5a5a5a;
    margin-right: 5px;
    transition: color 0.3s;
}

.post-rating-selected .post-rating-button {
    color: var(--info);
}

.post-rating-count {
    font-size: 1.1em;
    color: var(--secondary);
}

.reply-button {
    background-color: var(--info);
    border: none;
    border-radius: 5px;
    color: #e0e0e0;
    cursor: pointer;
}

.user-info button {
    margin-left: 10px;
}

.category-tag {
    background-color: #424242;
    color: #e0e0e0;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
}

.post-media {
    margin-top: 20px;
    max-width: 200px;
    max-height: 200px;
    border-radius: 5px;
}

#post-form .post-media {
    display: block;
    margin-bottom: 20px;
}

/* Comments and Replies */
.comments-container {
    margin-top: 20px;
    border-top: 1px solid #424242;
    padding-top: 20px;
}

.comment {
    margin-top: 15px;
    padding: 15px;
    background-color: var(--background);
    border-radius: 10px;
    position: relative;
}

.comment p {
    font-size: 1em;
    color: #000000;
}

.reply-form {
    margin-top: 15px;
    padding: 15px;
    background-color: var(--background);
    border-radius: 8px;
}

.reply-form textarea {
    width: 100%;
    height: 80px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #555;
    background-color: #e2ad7b;
    color: #000;
    resize: none;
    font-size: 1em;
}

.reply-form button[type="submit"] {
    background-color: var(--success);
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    color: #e0e0e0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.reply-form button[type="submit"]:hover {
    background-color: #2e7d32;
}

.reply-form button.cancel-reply {
    margin-left: 10px;
    background-color: var(--error);
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    color: #e0e0e0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.reply-form button.cancel-reply:hover {
    background-color: #c62828;
}

/* end post style */

/* table style */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th {
    background-color:var(--secondary);
    color: rgb(250, 238, 238);
}

table th, table td {
    border: 1px solid #424242;
    padding: 10px;
    text-align: center;
}

table tr:hover {
    background-color: var(--primary);
}

table select {
    margin: 0;
}

/* end table style */

/* form style */
form {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
    color: var(--secondary);
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="number"],
form textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    border-radius: 5px;
    border: 1px solid #342a2166;
    background-color: var(--primary);
    color: #3b2c2c;
    font-size: 1em;
    box-sizing: border-box;
}

form textarea {
    resize: none;
    font-size: 1em;
}

form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--success);
    color: #e0e0e0;
    cursor: pointer;
    transition: background-color 0.3s;
}

select {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    border-radius: 5px;
    border: 1px solid #342A21;
    background-color: var(--primary);
    color: #2a2a2a;
    font-size: 1em;
    box-sizing: border-box;
}

label[for="category"] {
    margin: 10px;
    display: block;
    color: #d2d2d2;
    border-radius: 5px;
    background-color: #333;
}

input[type="file"]::file-selector-button {
    border-radius: 4px;
    padding: 0 16px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin: 16px;
    transition: background-color 200ms;
}
#category-selection  {
    margin-top: 15px;
    margin-bottom: 25px;
    background: #f5cda7a7;
    padding: 10px;
    border-radius: 10px;
    max-width: fit-content;
}

.category-selection-label {
    padding: 5px;
    padding-right:20px;
    border: 1px dashed #2a2a2a5f;
    border-radius: 20px;

    /* border-top:1px dashed #2a2a2a5f; */
}
.category-selection-label:hover {
    cursor: pointer;
    border: 1px solid #2a2a2a5f;
    background-color: #55555550;
}

/* file upload button hover state */
input[type="file"]::file-selector-button:hover {
    background-color: #f3f4f6;
}

/* file upload button active state */
input[type="file"]::file-selector-button:active {
    background-color: #e5e7eb;
}

/* end form style */

/* login button style */
#loginButtons {
    display: flex;
}

#loginButtons:first-child {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--success);
    color: #e0e0e0;
    cursor: pointer;
    transition: all 0.3s;
}

#loginButtons button:hover {
    transform: translateY(-5px);
    transition: all 0.3s;
}

#googleButton {
    margin-left: 10px;
    background-color: #4285F4;
}

#githubButton {
    margin-left: 10px;
    background-color: #333;
}

/* end login button style */

/* button style */
button {
    padding: 10px 20px;
    border: none;
    margin-right: 5px;
    border-radius: 5px;
    background-color: var(--info);
    color: rgb(250, 238, 238);
    cursor: pointer;
    transition: background-color 0.3s;
}

button:disabled {
    background-color: #616161;
    cursor: not-allowed;
}

.yellowButton {
    background-color: var(--warning);
}

.redButton {
    background-color: var(--error);
}

/* end button style */

/* scrollbar style */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #777;
}

/* end scrollbar style */

/* chat section style */
#chat-section {
    border-left: 1px solid #33333317;
    background: #ffe0ab;
    padding-left: 20px;
    padding-right: 20px;
    display: none;
    width: 300px;
    flex-direction: column;
    max-height: 100vh;
}
#chat-display{
    max-height:100%;
}
#chat-section h2{
    /* color: #FFFFFF; */
}

.listDiv{
    display: block;
    border: 1px solid rgb(207, 231, 251);
    border-radius: 15px;
    padding: 10px;
    margin-top: 0.5rem;
    background-color: #ffffff;
    cursor: pointer;
    transition: all 0.3s;

}
.listDiv:hover {
    border: 1px solid rgba(207, 231, 251, 0);
    background-color: #645343;
    transform: translateX(-5px);
    transition: all 0.3s;
}
.listDiv:hover .nicknameInList,
.listDiv:hover .lastMessagedInList {
    color: #FFFFFF;
    transition: all 0.3s;
}
/* .listDiv:hover .lastMessagedInList{
    color:#FFFFFF;
    transition: all 0.3s;
} */

.nicknameInList {
    font-weight: 500;
    color: rgb(47, 20, 20);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s;

}

.lastMessagedInList{
    display: flex;
    align-items: center;
    color: var(--font-messagedAt);
    transition: all 0.3s;

}
#chat-backButton {
    color: black;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 55px;
    max-height: 50%;
    border-radius: 15px;
    transition: all 0.3s;

}
#chat-backButton:hover {
    color: white;  
    background-color: #61616120;
    transform: translateX(-2px);
    transition: all 0.2s;
}

#messages-display{
    padding:10px;
    display:flex;
    flex-direction: column;
    max-height: 60vh;
    min-height:60vh;
    overflow-y:scroll;
}

#flex-back-name{
    display:flex;
    color:#342A21;
    max-height: 90%;
    padding-bottom: 10px;
}

#name-typing{
    display:flex;
    flex-direction: column;
    margin-left: 10px;
    max-height: 100%;
}

#typing-text-div{
    display: none;
    margin-left: 3px;
    height:fit-content;
    font-size: small;
    max-height:20.8px;
}

#typing-text-div span{
    position:relative;
    display:inline-block;
    text-transform: uppercase;
    animation: animatetype 1s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes animatetype {
    0% {
        transform: translateY(0px);
    }
    20% {
        transform: translateY(-2px);
    }
    40%, 100% {
        transform: translateY(0px);
    }
}
#chat-display-name{

}



.blacken{
    color: black;
}

.mMsg, .sMsg {
    padding:7px;
    align-items: center;
    max-width: 70%;
    border-radius: 10px;
    color:white;
    width: fit-content;
    overflow-wrap: break-word;
    text-shadow: 1px 0px 3px rgba(0, 0, 0, 0.413);

}
.mMsg {
    background-color: #F5CDA7;
    margin-left: auto;
    margin-top: 2px;
        
}
.sMsg {
    background-color: var(--secondary);
    margin-top: 2px;
}
.texted-msg {

}
.texted-date {
    color:#9f9d9d;
    font-size: smaller;
    width:fit-content;
}
.mDaty {
    margin-left: auto;
    text-shadow: none;
}
.sDaty {
    margin-right: auto;
}


#message-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 0 0;
    padding-top: 10px;
    [name="msg-input"] {
        margin: 0 0 0 0;
        max-width: 80%
    }
    button[type="submit"]{
        margin: 0 0 0 0;
        align-self: center;
        align-content: center;
        text-align: center;
        max-width: 18%;
        padding: 5px;
        min-width: 18%;
        max-height: 41px;
        min-height:41px;
        border-radius: 5px;
        background-color: var(--success);
        color: #e0e0e0;
        cursor: pointer;
        /* transition: background-color 0.3s; */
    }
}